{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% import _self as helper %}

{% block toolbar %}
    {% if collector.messages|length %}
        {% set icon %}
            {{ include('@WebProfiler/Icon/translation.svg') }}
            {% set status_color = collector.countMissings ? 'red' : collector.countFallbacks ? 'yellow' %}
            {% set error_count = collector.countMissings + collector.countFallbacks %}
            <span class="sf-toolbar-value">{{ error_count ?: collector.countdefines }}</span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>Missing messages</b>
                <span class="sf-toolbar-status sf-toolbar-status-{{ collector.countMissings ? 'red' }}">
                    {{ collector.countMissings }}
                </span>
            </div>

            <div class="sf-toolbar-info-piece">
                <b>Fallback messages</b>
                <span class="sf-toolbar-status sf-toolbar-status-{{ collector.countFallbacks ? 'yellow' }}">
                    {{ collector.countFallbacks }}
                </span>
            </div>

            <div class="sf-toolbar-info-piece">
                <b>Defined messages</b>
                <span class="sf-toolbar-status">{{ collector.countdefines }}</span>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: profiler_url, status: status_color }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label label-status-{{ collector.countMissings ? 'error' : collector.countFallbacks ? 'warning' }} {{ collector.messages is empty ? 'disabled' }}">
        <span class="icon">{{ include('@WebProfiler/Icon/translation.svg') }}</span>
        <strong>Translation</strong>
        {% if collector.countMissings or collector.countFallbacks %}
            {% set error_count = collector.countMissings + collector.countFallbacks %}
            <span class="count">
                <span>{{ error_count }}</span>
            </span>
        {% endif %}
    </span>
{% endblock %}

{% block panel %}
    {% if collector.messages is empty %}
        <h2>Translations</h2>
        <div class="empty">
            <p>No translations have been called.</p>
        </div>
    {% else %}
        {{ block('panelContent') }}
    {% endif %}
{% endblock %}

{% block panelContent %}
    <h2>Translation Metrics</h2>

    <div class="metrics">
        <div class="metric">
            <span class="value">{{ collector.countdefines }}</span>
            <span class="label">Defined messages</span>
        </div>

        <div class="metric">
            <span class="value">{{ collector.countFallbacks }}</span>
            <span class="label">Fallback messages</span>
        </div>

        <div class="metric">
            <span class="value">{{ collector.countMissings }}</span>
            <span class="label">Missing messages</span>
        </div>
    </div>

    <h2>Translation Messages</h2>

    {# sort translation messages in groups #}
    {% set messages_defined, messages_missing, messages_fallback = [], [], [] %}
    {% for key,message in collector.messages %}
        {% if message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_DEFINED') %}
            {% set messages_defined = messages_defined|merge([{'key': key, 'message': message}]) %}
        {% elseif message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_MISSING') %}
            {% set messages_missing = messages_missing|merge([{'key': key, 'message': message}]) %}
        {% elseif message.state == constant('Symfony\\Component\\Translation\\DataCollectorTranslator::MESSAGE_EQUALS_FALLBACK') %}
            {% set messages_fallback = messages_fallback|merge([{'key': key, 'message': message}]) %}
        {% endif %}
    {% endfor %}

    <div class="sf-tabs">
        <div class="tab">
            <h3 class="tab-title">Defined <span class="badge">{{ messages_defined|length }}</span></h3>

            <div class="tab-content">
                <p class="help">
                    These messages are correctly translated into the given locale.
                </p>

                {% if messages_defined is empty %}
                    <div class="empty">
                        <p>None of the used translation messages are defined for the given locale.</p>
                    </div>
                {% else %}
                    {{ helper.render_table(messages_defined, false, token) }}
                {% endif %}
            </div>
        </div>

        <div class="tab">
            <h3 class="tab-title">Fallback <span class="badge">{{ messages_fallback|length }}</span></h3>

            <div class="tab-content">
                <p class="help">
                    These messages are not available for the given locale
                    but Symfony found them in the fallback locale catalog.
                </p>

                {% if messages_fallback is empty %}
                    <div class="empty">
                        <p>No fallback translation messages were used.</p>
                    </div>
                {% else %}
                    {{ helper.render_table(messages_fallback, false, token) }}
                {% endif %}
            </div>
        </div>

        <div class="tab">
            <h3 class="tab-title">Missing <span class="badge">{{ messages_missing|length }}</span></h3>

            <div class="tab-content">
                <p class="help">
                    These messages are not available for the given locale and cannot
                    be found in the fallback locales. Add them to the translation
                    catalogue to avoid Symfony outputting untranslated contents.
                </p>

                {% if messages_missing is empty %}
                    <div class="empty">
                        <p>There are no messages of this category.</p>
                    </div>
                {% else %}
                    {{ helper.render_table(messages_missing, true, token) }}
                {% endif %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var serializeQueryString = function(obj, prefix) {
            var str = [];
            for(var p in obj) {
                if (obj.hasOwnProperty(p)) {
                    var k = prefix ? prefix + "[" + p + "]" : p, v = obj[p];
                    str.push(typeof v == "object" ? serializeQueryString(v, k) : encodeURIComponent(k) + "=" + encodeURIComponent(v));
                }
            }
            return str.join("&");
        };
        // We need to hack a bit Sfjs.request because it does not support POST requests
        // May not work for ActiveXObject('Microsoft.XMLHTTP'); :(
        (function(open) {
            XMLHttpRequest.prototype.open = function(method, url, async, user, pass) {
                open.call(this, method, url, async, user, pass);
                if (method.toLowerCase() === 'post') {
                    this.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                }
            };
        })(XMLHttpRequest.prototype.open);
        var saveTranslations = function(form) {
            "use strict";
            var inputs = form.translationKey;
            var selected = [];
            if (!inputs.value) {
                for (var val in inputs) {
                    if (inputs.hasOwnProperty(val) && inputs[val].value) {
                        if (inputs[val].checked) {
                            selected.push(inputs[val].value);
                        }
                    }
                }
            } else if (inputs.checked) {
                selected.push(inputs.value);
            }
            Sfjs.request(
                    form.action,
                    function(xhr) {
                        // Success
                        document.getElementById('translationResult').innerHTML = xhr.responseText;
                    },
                    function(xhr) {
                        // Error
                        document.getElementById('translationResult').innerHTML = xhr.responseText;
                    },
                    serializeQueryString({selected: selected}),
                    { method: 'POST' }
            );
            return false;
        };
        function setAllCheckboxes(sourceCheckbox) {
            var tableAncestor = getNearestTableAncestor(sourceCheckbox);
            if(tableAncestor == undefined) return;
            var inputElements = tableAncestor.getElementsByTagName('input');
            for (i = 0; i < inputElements.length; i++) {
                if (inputElements[i].type != 'checkbox')
                    continue;
                inputElements[i].checked = sourceCheckbox.checked;
            }
        }
        function getNearestTableAncestor(htmlElementNode) {
            while (htmlElementNode) {
                htmlElementNode = htmlElementNode.parentNode;
                if (htmlElementNode.tagName.toLowerCase() === 'table') {
                    return htmlElementNode;
                }
            }
            return undefined;
        }
    </script>
{% endblock %}

{% macro render_table(messages, allow_dump, token) %}
    {% if allow_dump %}
        <form action="{{ path('_profiler_save_translations', {'token': token}) }}" method="post"
            onsubmit="saveTranslations(this);return false;" >
    {% endif %}
    <table>
        <thead>
        <tr>
            {% if allow_dump %}
                <th>
                    <input type="checkbox" id="checkAll" onchange="setAllCheckboxes(this)">
                    Dump
                </th>
            {% endif %}
            <th>Locale</th>
            <th>Domain</th>
            <th>Times used</th>
            <th>Message ID</th>
            <th>Message Preview</th>
        </tr>
        </thead>
        <tbody>
        {% for data in messages %}
            {% set key = data.key %}
            {% set message = data.message %}
            <tr>
                {% if allow_dump %}
                <td>
                  <input type="checkbox" name="translationKey" value="{{ key }}">
                </td>
                {% endif %}
                <td class="font-normal text-small">{{ message.locale }}</td>
                <td class="font-normal text-small text-bold">{{ message.domain }}</td>
                <td class="font-normal text-small">{{ message.count }}</td>
                <td>
                    {{ message.id }}

                    {% if message.transChoiceNumber is not null %}
                        <small class="newline">(pluralization is used)</small>
                    {% endif %}

                    {% if message.parameters|length > 0 %}
                        <button class="btn-link newline text-small sf-toggle" data-toggle-selector="#parameters-{{ loop.index }}" data-toggle-alt-content="Hide parameters">Show parameters</button>

                        <div id="parameters-{{ loop.index }}" class="hidden">
                            {% for parameters in message.parameters %}
                                {{ profiler_dump(parameters) }}
                                {% if not loop.last %}<br />{% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </td>
                <td>{{ message.translation }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if allow_dump %}
        <p id="translationResult" class="help">
        </p>
        <button type="submit" class="btn">
            Add selected translations to catalogs
        </button>
    </form>
    {% endif %}
{% endmacro %}
